<div class="container">

<h1>We're in all the usual places</h1>

<a href="http://www.twitter.com/ericmorrow" target="_blank" title="Visit Us On Twitter"><img src="http://ericmorrow.com/wp-content/plugins/floating-social-media-icon/images/themes/1/twitter.png" style="border:0px;" alt="Visit Us On Twitter"></a>

<a href="http://www.pinterest.com/eric2morrow/digital-marketing-best-practices/" target="_blank" title="Visit Us On Pinterest"><img src="http://ericmorrow.com/wp-content/plugins/floating-social-media-icon/images/themes/1/pinterest.png" style="border:0px;" alt="Visit Us On Pinterest"></a>

</div>